@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-jakarta;
}

/* Footer sticking to the bottom */
#root {
  @apply min-h-screen;
}

/* Styling for popups */

.popup-content {
  width: 90%;
  height: 85%;
  background: #fff;
  padding-inline: 10px;
  border: 3px solid #4c4ddc;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.popup-calendar-content {
  width: 95%;
  height: 80%;
}

@media (min-width: 1024px) {
  .popup-content {
    width: 70%;
    height: fit-content;
  }

  .popup-calendar-content {
    width: 44%;
    height: 70%;
  }
}

@media (min-width: 1800px) {
  .popup-calendar-content {
    width: 22%;
    height: 80%;
  }
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}
